<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Recomended Restaurant For You">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#3D8361"/>
  
  
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
  <link rel="icon" href="./favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>HungerApps</title>
</head>
<body>
  <a href="#maincontent" class="skip-link"> Menuju ke konten </a>
  <my-navbar id="home"></my-navbar>
  <main id="maincontent"  tabindex="0" >

  </main>
  <footer class="footer" id="footer">
    Copyright © 2023 - Hunger Apps
  </footer>
</body>
</html>
